<h3>{{label}}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" 
            type="button"
            (click)="changeVal(5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
  <input type="number" class="form-control" max="100" min="0" 
          placeholder="Product Name" aria-label="algo" #progressInput
          name="percentage" [(ngModel)]="percentage" (ngModelChange)="onChanges($event)" >
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="changeVal(-5)" >
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
</div>